name: main

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@0.7.1
        with:
          required-ros-distributions: humble
      - name: build and test
        uses: ros-tooling/action-ros-ci@0.3.6
        with:
          package-name: gazebo_mocap4r2_plugin mocap4r2_msgs mocap4r2_control mocap4r2_control_msgs rqt_mocap4r2_control
          target-ros2-distro: humble
          vcs-repo-file-url: ${GITHUB_WORKSPACE}/dependency_repos.repos
      - name: Codecov
        uses: codecov/codecov-action@v1.1.0
        with:
          file: ros_ws/lcov/total_coverage.info
          flags: unittests
          name: codecov-umbrella
          # yml: ./codecov.yml
          fail_ci_if_error: false
